.video {
  position: relative;

  &__holder {
	position: relative;
	z-index: 1;

	&:hover {
	  &:before {
		opacity: 0.6;
	  }
	}

	&:before {
	  position: absolute;
	  background: #0C0C0C;
	  opacity: 0;
	  content: '';
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  transition: opacity ease-in-out 0.3s;
	  z-index: 2;
	}
  }

  &__play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	background-color: transparent;
	outline: none;
	color: #fff;
	transition: color ease-in-out 0.3s;
	z-index: 3;
	cursor: pointer;
	font-size: 54px;

	@include media('>=tablet') {
	  font-size: 94px;
	}

	&:hover {
	  color: $secondary-color;
	}
  }
}

.steps {
  background-color: #F5F5F5;

  &__item {
	margin-bottom: 30px;

	@include media('>=tablet') {
	  display: flex;
	  align-items: center;
	  padding: 56px 0;
	  position: relative;
	}

	&:after {
	  @include media('>=tablet') {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		//bottom: 56px;
		right: 0;
		left: 0;
		background-color: #B09762;
		z-index: 1;
		height: 400px;
	  }
	}

	&:before {
	  @include media('>=tablet') {
		content: '';
		position: absolute;
		top: 50%;
		background-color: #FFF;
		box-shadow: 8px 8px 40px #7d7d7d26;
		width: 70vw;
		max-width: 1130px;
		transform: translateY(-50%);
		height: 508px;
		z-index: 2;
	  }
	}

	&:nth-child(even) {

	  &:before {
		@include media('>=tablet') {
		  right: 30px;
		}
	  }

	  .steps__holder {
		&:before {
		  @include media('>=tablet') {
			left: 0;
		  }
		}
	  }

	  .steps__description {
		background-color: #FFF;
		box-shadow: 8px 8px 40px #7d7d7d26;

		@include media('>=tablet') {
		  background-color: transparent;
		  box-shadow: none;
		}
	  }
	}

	&:nth-child(odd) {
	  @include media('>=tablet') {
		flex-direction: row-reverse;
	  }

	  &:before {
		@include media('>=tablet') {
		  left: 30px;
		  z-index: 0;
		}
	  }

	  .steps__holder {
		@include media('>=tablet') {
		  display: flex;
		  justify-content: flex-end;
		}

		&:before {
		  @include media('>=tablet') {
			right: 0;
		  }
		}
	  }

	  .steps__description {
		background-color: #B09762;
		color: #fff;

		@include media('>=tablet') {
		  display: flex;
		  justify-content: flex-end;
		}
	  }
	}
  }

  &__holder {
	position: relative;
	background-color: #B09762;
	padding: 25px;

	@include media('>=tablet') {
	  width: 50%;
	}
  }

  &__img-holder {
	position: relative;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 150px;
	z-index: 2;

	@include media('>=tablet') {
	  width: 100%;
	  max-width: 658px;
	  height: 346px;
	}

	&:before {
	  content: '';
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background: rgba(0, 0, 0, 0.6);
	  z-index: 0;
	}

	.title_2 {
	  position: relative;
	  z-index: 1;
	  text-transform: uppercase;
	  color: #fff;
	  text-align: center;
	}
  }

  &__description {
	padding: 40px 20px;

	@include media('>=tablet') {
	  width: 50%;
	  position: relative;
	  z-index: 2;
	  padding: 23px 20px;
	}

	.text-holder {
	  position: relative;
	  z-index: 3;
	  max-width: 680px;

	  @include media('>=tablet') {
		padding: 0 60px;
	  }
	}

	p {
	  margin: 0;
	}
  }
}

.official-offer {
  position: relative;
  border-bottom: 1px solid #fff;

  @include media('<tablet') {
	padding-bottom: 450px;
  }

  .container {
	position: relative;
	z-index: 2;

	@include media('>=tablet') {
	  display: flex;
	  flex-wrap: wrap;
	  align-items: center;
	}
  }

  .col {
	@include media('>=tablet') {
	  width: 50%;
	  max-width: 675px;
	  padding-right: 75px;
	}

	&:last-of-type {
	  padding-top: 50px;

	  @include media('>=tablet') {
		padding-top: 0;
		margin-right: 0;
	  }
	}
  }

  .text-holder {
	color: #fff;

	p {
	  margin-bottom: 22px;
	}
  }

  .offer-holder {
	position: absolute;
	bottom: 0;
	right: 0;

	@include media('>=tablet') {
	  top: 0;
	}

	img {
	  @include media('>=tablet') {
		height: 100%;
	  }
	}
  }

  .title-holder {
	@include media('>=tablet') {
	  text-align: left;
	}
  }
}
