.service-plan-info {
	background-color: #21242B;
  	background-size: contain;
  background-position: 50% 50%;
  padding: 60px 45px;

  .service-plan-block {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	max-width: 800px;

	strong {
	  font-family: $font-secondary;
	  font-weight: 600;
	  font-size: 22px;
	  line-height: 164%;
	  color: #FFFFFF;
	}

	span {
	  font-weight: 600;
	  font-size: 18px;
	  line-height: 150%;
	  color: #B09762;

	  &.price {
		font-family: $font-secondary;
		font-size: 22px;
		line-height: 164%;
		color: #FFFFFF;
	  }
	}
  }
}

.service-plan-title {
  font-family: $font-secondary;
  padding: 42px 50px;
  background-color: #B09762;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #FFF;
  margin-bottom: 10px;

  &__holder {
	width: 100%;
	max-width: 480px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	&_pay {
	  strong {
		font-weight: 600;
		font-size: 16px;
		line-height: 150%;
		color: #212121;
	  }

	  span {
		font-family: $font-secondary;
		font-weight: 700;
		font-size: 22px;
		line-height: 164%;
		color: #212121;
	  }
	}
  }
}

.payment-btn-holder {
  position: relative;

  &.active-pay {
	padding-left: 60px;

	&:before {
	  content: '';
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
	  left: 0;
	  width: 30px;
	  height: 30px;
	  background-color: #56AC2E;
	  border-radius: 50%;
	}

	&:after {
	  content: '';
	  position: absolute;
	  top: 48%;
	  transform: translateY(-50%) rotate(-45deg);
	  left: 10px;
	  width: 10px;
	  height: 7px;
	  border-left: 1px solid #fff;
	  border-bottom: 1px solid #fff;
	}

	.btn {
	  background: #b09762;
	  color: #fff;
	  pointer-events: none;
	  opacity: 0.5;
	}
  }

  .btn {
	color: #212121;
  }
}

.payments-history-holder {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 40px;

  table {
	width: 1520px;
	border-collapse: collapse;
  }

  th {
	text-align: left;
	font-family: $font-secondary;
	font-weight: 600;
	font-size: 18px;
	line-height: 150%;
	color: #FFFFFF;
	background-color: #21242B;
	padding: 42px 50px;
	border-collapse:collapse
  }

  td {
	background-color: #F7F6F8;
	padding: 50px;
	border-bottom: 10px solid #fff;
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	color: #212121;

	.price {
	  font-family: $font-secondary;
	  font-size: 22px;
	  line-height: 164%;
	}
  }
}
