/* === BEGIN FONTS === */
@font-face {
    font-family: 'lora';
    src: url('./assets/fonts/Lora-SemiBold.ttf') format('truetype');
    font-weight: 600; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'lora';
    src: url('./assets/fonts/Lora-Bold.ttf') format('truetype');
    font-weight: 700; 
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'lora';
    src: url('./assets/fonts/Lora-BoldItalic.ttf') format('truetype');
    font-weight: 700; 
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600; 
    font-style: normal;
    font-display: swap;
}
/* === END FONTS === */