@font-face {
	font-family: 'icomoon';
	src: url('./assets/fonts/icomoon.eot?6j5um7');
	src: url('./assets/fonts/icomoon.eot?6j5um7#iefix') format('embedded-opentype'),
		url('./assets/fonts/icomoon.ttf?6j5um7') format('truetype'),
		url('./assets/fonts/icomoon.woff?6j5um7') format('woff'),
		url('./assets/fonts/icomoon.svg?6j5um7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icomoon-"],
[class*=" icomoon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-heart-fill:before {
	content: "\e922";
}

.icomoon-heart-empty:before {
	content: "\e925";
}

.icomoon-filter:before {
	content: "\e921";
}

.icomoon-camera:before {
	content: "\e923";
}

.icomoon-camera-2:before {
	content: "\e924";
}

.icomoon-pdf:before {
	content: "\e900";
}

.icomoon-garbage:before {
	content: "\e901";
}

.icomoon-zoom-in:before {
	content: "\e902";
}

.icomoon-calendar:before {
	content: "\e903";
}

.icomoon-privacy:before {
	content: "\e904";
}

.icomoon-logout:before {
	content: "\e905";
}

.icomoon-gifts:before {
	content: "\e906";
}

.icomoon-ladies:before {
	content: "\e907";
}

.icomoon-cards:before {
	content: "\e908";
}

.icomoon-documents:before {
	content: "\e909";
}

.icomoon-services:before {
	content: "\e90a";
}

.icomoon-plan:before {
	content: "\e90b";
}

.icomoon-users:before {
	content: "\e90c";
}

.icomoon-heart-user:before {
	content: "\e90d";
}

.icomoon-photo:before {
	content: "\e90e";
}

.icomoon-user:before {
	content: "\e90f";
}

.icomoon-whatsapp:before {
	content: "\e910";
}

.icomoon-mask:before {
	content: "\e911";
}

.icomoon-hand:before {
	content: "\e912";
}

.icomoon-love:before {
	content: "\e913";
}

.icomoon-hand-hearth:before {
	content: "\e914";
}

.icomoon-nav-map:before {
	content: "\e915";
}

.icomoon-diamond:before {
	content: "\e916";
}

.icomoon-arrow:before {
	content: "\e917";
}

.icomoon-facebook:before {
	content: "\e918";
}

.icomoon-instagram:before {
	content: "\e919";
}

.icomoon-youtube:before {
	content: "\e91a";
}

.icomoon-play:before {
	content: "\e91b";
}

.icomoon-wallet:before {
	content: "\e91c";
}

.icomoon-alert-triangle:before {
	content: "\e91d";
}

.icomoon-viber:before {
	content: "\e91e";
}

.icomoon-telegram:before {
	content: "\e91f";
}

.icomoon-chevron:before {
	content: "\e920";
}

.icomoon-copy:before {
	content: "\e926";
}