.footer {
	background-color: #1F232B;
	padding: 50px 0;

	.logo-holder {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		.logo-block {
			margin-right: 22px;
			margin-bottom: 25px;
			width: calc(50% - 22px);
			display: flex;
			justify-content: center;

			&:first-child {
				max-width: 100%;
				width: 100%;
				margin-right: 0;
			}

			@include media('>=tablet') {
				margin-right: 45px;
				max-width: 162px;
				justify-content: flex-start;
			}
			

			&:last-of-type {
				margin-right: 0;
			}
		}

		@include media('>=tablet') {
			width: 50%;
		}
	}

	.contact-holder {
		text-align: center;
		padding-top: 30px;

		@include media('>=tablet') {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			width: 50%;
			padding-top: 18px;
			flex-direction: column;
			align-items: end;
		}

		a:not(.watsup-link) {
			text-decoration: none;
			display: inline-block;
			margin-bottom: 25px;
		}

		.email {
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			text-decoration-line: underline;
			color: #FFFFFF;

			@include media('>=tablet') {
				
			}
		}

		.watsup-link {
			padding-top: 0;
			color: #fff;
			font-size: 18px;
			line-height: 22px;
			display: inline-block;
			font-weight: 400;

			i {
				top: 0;
			}
		}

		.tracker-holder {
			width: 100%;
			text-align: center;
			margin-bottom: 10px;

			@include media('>=tablet') {
				text-align: right;
			}
		}
	}

	.footer-bottom {
		width: 100%;
		margin-bottom: 40px;

		@include media('>=tablet') {
			display: grid;
			//grid-template-rows: 1fr;
			align-items: center;
			grid-template-columns: 58%;
		}
	}

	.privacy-list {
		text-align: center;
		margin: 0 0 20px;

		@include media('>=tablet') {
			display: flex;
			margin: 20px 0 0;
			grid-column: 1;
			grid-row: 1;
		}

		li {
			padding: 0;

			@include media('>=tablet') {
				margin-right: 70px;
			}

			&:before {
				display: none;
			}

			a {
				color: #fff;
			}
		}
	}

	.footer-socials {
		padding-top: 28px;
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 0 0 20px;

		@include media('>=tablet') {
			justify-content: flex-end;
			grid-column: 3;
			grid-row: 1;
			padding-top: 0;
			margin: 0;
		}

		li {
			padding: 0 15px;

			a {
				color: #fff;
				text-decoration: none;

				&:hover {
					color: #BF0F0D;
				}
			}

			&:before {
				display: none;
			}
		}
	}

	.cards-list {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 0 17px;
		padding: 0;

		@include media('>=tablet') {
			margin: 0;
			grid-column: 2;
			grid-row: 1;
		}

		li {
			padding: 0 10px;

			&:before {
				display: none;
			}
		}
	}

	.container {
		@include media('>=tablet') {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
		}
	}

	.copy-holder {
		position: relative;
		width: 100%;
		padding-top: 30px;
		text-align: center;
		border-top: 1px solid #272C35;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 12px;

		.other-copy-link {
			@include media('>=tablet') {
				position: absolute;
				//top: 0;
				right: 0;
			}
		}

		a,
		span {
			color: #fff;
		}
	}
}