///fonts///
$font-primary: "Montserrat";
$font-secondary:  "lora";
$font-size: 16px;
$section-title: 32px;
$line-height: 1.7;
$color: #212121;
$font-weight: 500;

///colors///
$white: #fff;
$black: #000;

$primary-color: #C40401;
$secondary-color: #B09762;

$bg-style-primary: #F7F6F8;
$bg-style-secondary: #1F232B;





/*grey*/
$label-red: #F93838;
$label-purpur: #8683EF;
$label-green: #70D61F;

$required: $primary-color;
$placeholder: #bdbdbd;





/*   <Breadcrumbs/>   */
$breadcrumbs-slash: $secondary-color;
$breadcrumbs-link: #212121;
$breadcrumbs-link-hover: $primary-color;
$breadcrumbs-last-child: #B2B1B1;

/*   <Muve-top/>   */
$muve-top-background: $primary-color;
$muve-top-color: #fff;

