
<div class="hidden">
	<div class="zoom" id="zoom">
		<div class="form-holder">
			<h2>Schedule a Zoom meeting</h2>
			<div class="text-holder">
				<p>The Matchmaking process starts from your interview with Elena Kovalevskaya.
					Once you purchase your matchmaking plan, all further interviews with the matchmaker, as well as her support will be included. </p>
			</div>
			<form action="#" class="form">
				<div class="input-holder">
					<input type="text" class="input" placeholder="Your First Name">
				</div>
				<div class="input-holder">
					<input type="text" class="input" placeholder="Your Last Name">
				</div>
				<div class="input-holder">
					<input type="text" class="input" placeholder="Age">
				</div>
				<div class="input-holder">
					<input type="text" class="input" placeholder="Country">
				</div>
				<div class="input-holder">
					<input type="email" class="input" placeholder="E-mail">
				</div>
				<div class="input-holder">
					<input type="tel" class="input" placeholder="Phone number">
				</div>
				<div class="input-holder">
					<input type="text" class="input" placeholder="Profession ">
				</div>
				<div class="input-holder">
					<input type="text" class="input" placeholder="Time to call you back">
				</div>
				<div class="input-holder textarea-holder">
					<textarea class="input textarea" placeholder="Text message "></textarea>
				</div>
				<div class="checkbox-block">
					<h3>How did you hear about Happy Family Matchmaking Agency?</h3>
					<div class="input-holder">
						<input type="radio" id="friends" name="zoom-radio" value="friends">
						<label for="friends">From your friends or relatives</label>
					</div>
					<div class="input-holder">
						<input type="radio" id="web" name="zoom-radio" value="web">
						<label for="web">Found on the web</label>
					</div>
					<div class="input-holder">
						<input type="radio" id="clients" name="zoom-radio" value="clients">
						<label for="clients">From our clients</label>
					</div>
					<div class="input-holder">
						<input type="radio" id="social" name="zoom-radio" value="social">
						<label for="social">From social networks (FB, Instagram)</label>
					</div>
				</div>
				<div class="input-holder textarea-holder">
					<input id="personal-data" type="checkbox" name="personal-data" checked="checked">
					<label for="personal-data">
						You consent to the collection and processing of your personal data
					</label>
				</div>
				<h3>Request a free Interview service from your personal Happy Family Matchmaker now for having it scheduled within 24 - 48hours.</h3>
				<div class="btn-holder">
					<button type="submit" class="btn btn-secondary">Order</button>
				</div>
			</form>
		</div>
		<ul class="form-img-list">
			<li><img src="./assets/img/form-img-1.jpeg" alt="image description"></li>
			<li><img src="./assets/img/form-img-2.jpeg" alt="image description"></li>
			<li><img src="./assets/img/form-img-3.jpeg" alt="image description"></li>
			<li><img src="./assets/img/form-img-4.jpeg" alt="image description"></li>
			<li><img src="./assets/img/form-img-5.jpeg" alt="image description"></li>
		</ul>
	</div>
</div>
<div class="hidden">
	<div class="zoom read-more" id="read-more">
		<div class="form-holder">
			<h2>Relationship coaching</h2>
			<div class="text-holder scroll">
				<p>Good relationships are made up with time and personal maturity. It is not just luck or fate, but it is an understanding of female nature, a particular woman’s personality, and focusing on the idea of making a lady life better in new relationships. Natalie is a professional psychologist. With 23 years of matchmaking experience we can provide thorough support and help in understanding how a particular lady matches our male customer. We have many ideas on how to help couples communicate and keep the connection in the long term relationships. We provide recipes on how to move to the next level of international love relations and how to do it safely and correctly. Men and women are emotionally biased when it comes to discussing important things: their feelings often block the ability to face objective reality.
					Consulting with a professional love coach helps both parties see a bigger picture for the couple future. Thus our customers save their time, resources and avoid frustrations. A professional consultation with an expert opinion helps our male customers focus on the prospective lady and move forward their love story. </p>
			</div>
			<ul>
				<li>70% increase in a positive response rate from ladies.</li>
				<li>Ready made sets of your clothes, hairstyle, accessories that make you look young and attractive</li>
				<li>Knowledge of how to express the right messages with your looks (psychology of style)</li>
				<li>Understanding of how emphasize more attractive features of your body with your clothes</li>
				<li>Knowledge on what to buy and how to put clothes together for a date, travel, work etc.</li>
				<li>Visual short PDF-guide with your fashions, colors, fabrics, brands and shopping-list</li>
			</ul>
		</div>
	</div>
</div>
<div class="hidden">
	<div class="call-back" id="call-back">
		<h2>Call back</h2>
		<strong>Request a free CALL BACK from your personal Happy Family Matchmaker in time you specify</strong>
		<form action="#" class="call-back__form">
			<div class="input-holder">
				<input type="text" class="input" placeholder="Your First Name">
			</div>
			<div class="input-holder">
				<input type="tel" class="input" placeholder="Phone number">
			</div>
			<div class="btn-holder">
				<button type="submit" class="btn btn-link">Send</button>
			</div>
		</form>
	</div>
</div>
<!--		@@include('modals.html')-->
<script	src="./assets/js/jquery-3.6.0.min.js"></script>
<script
		src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"
		integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY="
		crossorigin="anonymous"></script>
<!--		<script src="assets/js/bootstrap.bundle.min.js"></script>-->
<!--<script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.1/swiper-bundle.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"></script>
<script src="./assets/js/jquery-ui/jquery-ui.min.js"></script>
<script src="./assets/js/slick.min.js"></script>
<script src="./assets/js/simplebar.js"></script>
<script async src="./assets/js/jquery.fancybox.min.js"></script>
<script defer src="./assets/js/jquery.nice-select.min.js"></script>
<script async src="./assets/js/global.js"></script>
</body>
</html>
