<header class="header">
    <div class="logo-holder">
		<a href="index.html" class="logo">
			<img src="./assets/img/logo.svg" class="img-fluid" alt="logo">
		</a>
	</div>
    <div class="nav-holder">
		<div class="language-bar">
			<div class="language-title">UA</div>
			<ul class="language-list">
				<li class="menu-item"><a href="#">EN</a></li>
				<li class="menu-item"><a href="#">RU</a></li>
				<li class="menu-item active"><a href="#">UA</a></li>
			</ul>
		</div>
		<nav class="nav">
			<ul class="nav__list">
				<li class="nav__item">
					<a class="nav-link" href="../for-men.html">For men</a>
				</li>
				<li class="nav__item">
					<a class="nav-link" href="#">For ladies</a>
				</li>
				<li class="nav__item">
					<a class="nav-link" href="../about.html">About us</a>
				</li>
				<li class="nav__item">
					<a class="nav-link"  href="../services.html">Services</a>
				</li>
				<li class="nav__item">
					<a class="nav-link"  href="../blog.html">Blog</a>
				</li>
				<li class="nav__item">
					<a class="nav-link" href="../reviews.html">Reviews</a>
				</li>
				<li class="nav__item">
					<a class="nav-link" href="#">Contacts</a>
				</li>
			</ul>
			<div class="login-area">
				<ul class="nav-login">
					<li><a href="#">Log in</a></li>
					<li><a href="#">Sing up</a></li>
				</ul>
				<ul class="header-socials">
					<li><a href="#"><i class="icomoon-youtube"></i></a></li>
					<li><a href="#"><i class="icomoon-instagram"></i></a></li>
					<li><a href="#"><i class="icomoon-facebook"></i></a></li>
				</ul>
			</div>
		</nav>
		<button class="nav-opener js-nav-opener">
			<span></span>
		</button>
	</div>
</header>
